.red {
  color: red;
}

.bold {
  font-weight: bold;
}

.button {
  background-color: darkcyan;
  color: white;
  font: inherit;
  border: 2px solid #ccc;
  padding: 8px;
  cursor: pointer;
}

.button:hover {
  background-color: lightseagreen;
  color: black;
}